@model GestionScolarite.Models.Affectation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Affectation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MatiereId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatiereId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnseignantId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnseignantId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
